form {
  margin-bottom: 15px;
}

form input {
  display: block;
  margin-bottom: 15px;
}

form input.btn {
  text-align: center;
}

.container .timebox {
  text-align: center;

}

.container .photo-box {
  height: 250px;
  width: 250px;
  border: 1px solid black;
  margin: 15px auto;
}

.container .finish {
  width: 6%;
  margin: 0 auto;
  padding-bottom: 21px;
}

.container .text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container textarea {
  width: 350px;
  height: 180px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-size: 18px;
}


.container .question-box {
  text-align: center;
}
.container .question {
  display: none;
  font-weight:bold;
  font-size: 25px;
}

.error {
  font-weight: bold;
  color: red;
}

.emojis {
  align-items: center;
  width: 250px;
  margin: auto;
}

.emoticon {
  background: url(http://www.oxford.gov.uk/Direct/GovMetricFaces.jpg);
  width: 80px;
  height: 78px;
  overflow: hidden;
  display: inline-block;
  float: center;
}

.emoticon2 {
  background: url(http://www.oxford.gov.uk/Direct/GovMetricFaces.jpg);
  background-position: -85px 0;
  width: 80px;
  height: 78px;
  overflow: hidden;
  display: inline-block;
  float: center;
}

.emoticon3 {
  background: url(http://www.oxford.gov.uk/Direct/GovMetricFaces.jpg);
  background-position: 80px 0;
  width: 80px;
  height: 78px;
  overflow: hidden;
  display: inline-block;
  float: center;
}

.time-spent {
  text-align: center;
}
#photo-box > * > * {
  margin-bottom: 15px;
}
.save-wrap {
  display: none;
}

.glyphicon {
  vertical-align: top;
}
.finish-work {
  margin: 20px;
}
