<div class="container">
  <div class="time-spent">
    <h1>How was your day?</h1>
  </div>

  <div class="reflection-wrap text-center">
    <form class="" action="/reflections" method="post">
      <div class="emojis">
        <div class="emoji" name="happy">&#x1F601;</div>
        <div class="emoji" name="meh">&#x1F612;</div>
        <div class="emoji" name="sad">&#x1F616;</div>
      </div>
      <input type="hidden" name="mood" value="">
      <textarea name="content" placeholder="Tell us about it"></textarea>
      <% if @errors %>
        <% @errors.each do |error| %>
          <p class="error"><%= error %></p>
        <% end %>
      <% end %>
      <br/>
      <br/>
      <input class="btn btn-success" type="submit" value="Finish the day" />
    </form>
  </div>

</div>
