<div class="container">
  <h1><%= Date.today %></h1>
  <h2><%= Time.now %></h2>
  <div class="photo-box">
    Photo goes here
  </div>
  <div class="biography">
    <select class="" name="">

    </select>
  </div>
  <div class="finish">
    <a class="btn btn-success" href="#">Finish</a>
  </div>
</div>
