<div class="container">
  <div class="timebox">
    <h1><%= Time.now.strftime("%A %B %d, %Y") %></h1>
    <h2><%= Time.now.strftime("%H:%m") %></h2>
  </div>

  <div class="photo-box">
  </div>

  <div class="question">
    Question
  </div>

  <div class="text col-md-8 col-md-offset-4">
    <textarea>Type your answer here</textarea>
  </div>

  <div class="finish">
    <a class="btn btn-success" href="#">Finish</a>
  </div>
</div>
